<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Footballexperience_Base::base" 
            title="FExperience" 
            module="Footballexperience_Base" 
            sortOrder="20" 
            resource="Magento_Customer::customer"/>

        <add id="Footballexperience_Base::manage_stadiums"
             title="Manage Stadiums"
             module="Footballexperience_Base"
             sortOrder="10"
             parent="Footballexperience_Base::base"
             resource="Footballexperience_Base::manage_stadiums"
        />

        <add id="Footballexperience_Base::stadiums"
             title="Stadiums"
             module="Footballexperience_Base"
             sortOrder="10"
             resource="Footballexperience_Base::stadiums"
             parent="Footballexperience_Base::manage_stadiums"
             action="febase/stadium/grid"
        />

    </menu>
</config>
